<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>com.rimba.controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitorController</servlet-name>
        <servlet-class>com.rimba.controller.visitorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileController</servlet-name>
        <servlet-class>com.rimba.controller.updateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageTenant</servlet-name>
        <servlet-class>com.rimba.controller.manageTenant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingController</servlet-name>
        <servlet-class>com.rimba.controller.bookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitorController</servlet-name>
        <url-pattern>/visitor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileController</servlet-name>
        <url-pattern>/update_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageTenant</servlet-name>
        <url-pattern>/manage_tenant.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingController</servlet-name>
        <url-pattern>/booking.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainHome.html</welcome-file>
    </welcome-file-list>
</web-app>
